on: 
  push:
    tags:
    - '*'
name: Test, Build and Release apk
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    environment: Release
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v1
      with:
        java-version: '17.x'
    - name: 'Set Flutter 3.19.0'
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
    - run: flutter --version
    - name: 'Checkout Flutter 3.83.3'
      shell: bash
      run: |
        cd $FLUTTER_ROOT;
        git fetch --tags;
        git checkout 3.83.3;
        flutter --version;
    - run: flutter pub get
    - run: flutter test
    - run: echo ${{ secrets.KEYSTORE }} > keystore.txt
    - run: shasum keystore.txt
    - run: base64 -d -i keystore.txt > upload-keystore.jks
    - run: shasum upload-keystore.jks
    - run: mv upload-keystore.jks android/upload-keystore.jks
    - run: echo ${{ secrets.PROPERTIES }} > properties.txt
    - run: shasum properties.txt
    - run: base64 -d -i properties.txt > key.properties
    - run: shasum key.properties
    - run: mv key.properties android/key.properties
    - run: flutter build apk --release --split-per-abi
    - name: Create a Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/apk/release/*.apk"
        token: ${{ secrets.GITHUB_TOKEN }}